.damion{
  font-family: 'inherit', cursive;
  font-size: 50px;
}
.ancho{
  width: 70%;
  margin-left: 15%;
}
/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}

/* Footer */

footer {
    padding: 20px;
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
